{erl_opts, [
  debug_info,
  {parse_transform, lager_transform}
]}.

{deps, [{lager, "3.5.2"}]}.

{ct_opts, [{sys_config, "conf/sys.config"}]}.

{relx, [
  {release, {reconnections, "0.1.0"}, [reconnections]},
  {dev_mode, true},
  {include_erts, false},
  {extended_start_script, false},
  {sys_config, "conf/sys.config"}
]}.

{profiles, [
  {dev, [
    {deps, [
      {epgsql, "3.4.0"},
      {eredis, "1.1.0"}
    ]}
  ]}
]}.