[
  {reconnections, []},
  {pgsql, [
            {host, "127.0.0.1"},
            {username, "postgres"},
            {password, "example"},
            {database, "test_db"},
            {timeout , 4000}
          ]
  },
  {redis, [
            {host , "127.0.0.1"},
            {port , 6379},
            {password , ""},
            {database , 0},
            {reconnect_sleep , 100}
          ]
  }
].