[
  {reconnections, [
    {drivers, [
      [
        {type         , epgsql},
        {host         , "127.0.0.1"},
        {username     , "postgres"},
        {password     , "example"},
        {database     , "test_db"},
        {reconnection , {uniform, 4000}}
      ],
      [
        {type         , eredis},
        {host         , "127.0.0.1"},
        {port         , 6379},
        {password     , ""},
        {database     , 0},
        {reconnection , {uniform, 4000}}
      ]
    ]}
  ]}
].